aiofiles
aiohttp
apscheduler
asyncio
bing_image_downloader
bs4
deepai
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gpytranslate
gtts
heroku3
httpx[http2]
kurigram
lexica-api
motor
nekosbest
numpy
opencv-python
pillow
psutil
ntgcalls
pytgcalls
pycryptodome
pydub
pyfiglet
pyshorteners
python-dotenv
python-whois
pyyaml
qrcode
requests
speedtest-cli
SpeechRecognition
spotipy
telegraph
pytgcrypto
unidecode
wget
yt-dlp
git+https://github.com/CertifiedCoders/youtube-search-python
